




<style>
    .event-info {
        padding: 50px 0;
    }

    body {
        background-image: url(Slideimage/trekkimg2.jpeg);
    }

    rajgad {
        background-color: burlywood;
    }

    footer {
        background: #343a40;
        color: #ffffff;
        padding: 10px 0;
        position: static;
        bottom: 0;
        width: 100%;
    }

    $border {
        inline-size: fit-content;
    }

    $border-width {
        6px;
    }
</style>


<form id="form1">
    <div class="event-info">
        <div class="row">
            <div class="row-md-4">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title"><b>Panhala</b></h5>
                        <p class="card-text">
                            Must visit place which has a rich history of Chatrapati Shivaji Maharaj.
                            It's a hill station which is 20km away from Kolhapur city. You dont need to climb or trek to reach the fort, cars can go to the top and you can visit entire fort by your own vehicle.
                            Panhala is the only fort where Shivaji spent more than 500 days, other than his childhood homes.
                            Shivaji Maharaj escaped from Panhala to Vishalgad, and battle between mughal gand and Bajiprabhu happed in Pawankhind where Bajiprabhu fought more than 18 hours.
                            This fort is built by Raja Bhoja in the late 12th century.
                        </p>
                        <p>
                            The Panhala Fort lies 20 km away from the main city of Kolhapur, situated at its north-west.
                            This fort holds its position amongst the most massive location in the country and is the largest one in the Deccan region.
                            It was built in a strategic position where a major trade route ran within Maharashtra from Bijapur to the coasts of Arabian Sea.
                            This place is not only a must-visit for the people who love exploring historic locations but also for those who love to trek.

                            Looking over the green slopes of Sahyadri, it has around 7 kilometres of fortifications along with full proof protection guaranteed by three double-walled gates which are humongous in size.
                            The entire stretch of Panhala Fort is dotted with parapets, ramparts, and bastions and styled with motifs of different dynasties that ruled over the fort - the Marathas, Bahamas, Mughals and so on.
                            The old Panhala Fort was founded in the late 12th century by Raja Bhoja.
                            It was constructed during the period 1178-1209 AD to be later modified by the Marathas. The Indo-Islamic style fort is famously known for being residences to the great Maratha ruler Shivaji and the Queen Regent of Kolhapur - Tarabai.
                        </p>

                        <a href="Login.aspx" class="btn btn-success" id="btn">rgitser your seat</a>


                    </div>
                </div>
            </div>
            <span class="border border-dark"></span>
        </div>
    </div>
    <br /><br />

    <div class="row">
        <div class="row-md-4">
            <div class="card">

                <div class="card-body" style="background-color:burlywood">
                    <h5 class="card-title"><b>Rajgad</b></h5>
                    <p class="card-text">
                        Must visit place which has a rich history of Chatrapati Shivaji Maharaj.
                        It's a hill station which is 20km away from Kolhapur city. You dont need to climb or trek to reach the fort, cars can go to the top and you can visit entire fort by your own vehicle.
                        Panhala is the only fort where Shivaji spent more than 500 days, other than his childhood homes.
                        Shivaji Maharaj escaped from Panhala to Vishalgad, and battle between mughal gand and Bajiprabhu happed in Pawankhind where Bajiprabhu fought more than 18 hours.
                        This fort is built by Raja Bhoja in the late 12th century.
                    </p>

                    <a href="Login.aspx" class="btn btn-success" id="btn">rgitser your seat</a>


                </div>
            </div>
        </div>
    </div>
</form>












