




<style>
    .event-info {
        padding: 50px 0;
    }

    body {
        background-image: url(Slideimage/trekkimg2.jpeg);
    }


    footer {
        background: #343a40;
        color: #ffffff;
        padding: 10px 0;
        position: static;
        bottom: 0;
        width: 100%;
    }

    $border {
        inline-size: fit-content;
    }

    $border-width {
        6px;
    }
</style>


<form id="form1">
    <div class="event-info">
        <div class="row">
            <div class="row-md-4">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">
                            <h3 style="text-align:center">Event ID: 1</h3><br />
                            <b style="font-size:30px">Panhala</b>
                        </h5>
                        <p class="card-text">
                            Must visit place which has a rich history of Chatrapati Shivaji Maharaj.
                            It's a hill station which is 20km away from Kolhapur city. You dont need to climb or trek to reach the fort, cars can go to the top and you can visit entire fort by your own vehicle.
                            Panhala is the only fort where Shivaji spent more than 500 days, other than his childhood homes.
                            Shivaji Maharaj escaped from Panhala to Vishalgad, and battle between mughal gand and Bajiprabhu happed in Pawankhind where Bajiprabhu fought more than 18 hours.
                            This fort is built by Raja Bhoja in the late 12th century.
                        </p>
                      
                        
                        <a asp-action="EventBook" class="btn btn-success" id="btn" action="Book_Seat">Book Your Seat</a>



                    </div>
                </div>
            </div>
            <span class="border border-dark"></span>
        </div>
    </div>
    <br /><br />

    <div class="row">
        <div class="row-md-4">
            <div class="card">

                <div class="card-body" >
                    <h5 class="card-title">
                        <h3 style="text-align:center">Event ID: 2</h3><br />
                        <b style="font-size:30px">Rajgad</b>
                    </h5>
                    <p class="card-text">
                        Must visit place which has a rich history of Chatrapati Shivaji Maharaj.
                        It's a hill station which is 20km away from Kolhapur city. You dont need to climb or trek to reach the fort, cars can go to the top and you can visit entire fort by your own vehicle.
                        Panhala is the only fort where Shivaji spent more than 500 days, other than his childhood homes.
                        Shivaji Maharaj escaped from Panhala to Vishalgad, and battle between mughal gand and Bajiprabhu happed in Pawankhind where Bajiprabhu fought more than 18 hours.
                        This fort is built by Raja Bhoja in the late 12th century.
                    </p>

                    <a asp-action="EventBook" class="btn btn-success" id="btn">Book Your Seat</a>


                </div>
            </div>
        </div>
    </div>
</form>











